extends layout

block title
    title Page Not Found

block content
    center
        h2 oh ho!! enter right URL
        h4 Page not Found
        h4 You might be looking for
        h4
            a(href=url+'/index') aao chale