extends layout
block title
    h2 add note
block content
    form(method='POST' action='/add')
        div
            lable first name
            input(type='text',name='name',placeholder='Enter name')
        div
            lable death note
            input(type='text',name='death_note',placeholder='enter note here')
        div
            input(type='submit' value='Submit')